<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/gollum.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/editor.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/dialog.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/template.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/print.css" media="print">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/g/pure@0.6.2(pure-min.css+grids-responsive-min.css)">
  {{#css}}<link rel="stylesheet" type="text/css" href="{{custom_path}}/custom.css" media="all">{{/css}}
  {{#noindex}}<meta name="robots" content="noindex, nofollow" />{{/noindex}}

  <!--[if IE 7]>
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/ie7.css" media="all">
  <![endif]-->

  <script>
      var baseUrl = '{{base_url}}';
      var uploadDest   = '{{upload_dest}}';
      {{#page}}
      var pageFullPath = '{{url_path_display}}';
      {{/page}}
  </script>
  <script type="text/javascript" src="{{base_url}}/javascript/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/mousetrap.min.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/gollum.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/gollum.dialog.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/gollum.placeholder.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/editor/gollum.editor.js"></script>
  {{#use_identicon}}
  <script type="text/javascript" src="{{base_url}}/javascript/identicon_canvas.js"></script>
  {{/use_identicon}}
  {{#mathjax}}
  {{^mathjax_config}}
  <script type="text/javascript">
  window.MathJax = {
    tex2jax: {
      inlineMath:  [ ['$','$'], ['\\(','\\)'] ],
      displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
      processEscapes: true
    },
    TeX: { extensions: ["autoload-all.js"] }
  };
  </script>
  {{/mathjax_config}}
  {{#mathjax_config}}
  <script type="text/javascript" src="{{base_url}}/{{mathjax_config}}"></script>
  {{/mathjax_config}}
  <script>(function(d,j){
  j = d.createElement('script');
  j.src = '//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML';
  (d.head || d.getElementsByTagName('head')[0]).appendChild(j);
  }(document));
  </script>{{/mathjax}}
  {{#js}}<script type="text/javascript" src="{{custom_path}}/custom.js"></script>{{/js}}

  <title>{{title}}</title>
</head>
<body>
  <div id="wrapper">
    <header class="pure-g">
      <div class="pure-u-1 pure-u-lg-4-24">
        <div class="logo">
          <a href="/"><img src="//alpinelinux.org/alpinelinux-logo.svg" class="pure-img" alt="" /></a>
        </div>
      </div>
      <div class="pure-u-1 pure-u-lg-20-24 box-relative menu-wrapper">
        <nav class="pure-menu pure-menu-horizontal menu-external">
          <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="https://wiki.alpinelinux.org" class="pure-menu-link">wiki</a></li>
            <li class="pure-menu-item"><a href="http://git.alpinelinux.org" class="pure-menu-link">git</a></li>
            <li class="pure-menu-item"><a href="https://bugs.alpinelinux.org/projects/alpine/issues" class="pure-menu-link">bugs</a></li>
            <li class="pure-menu-item"><a href="https://forum.alpinelinux.org/forum" class="pure-menu-link">forums</a></li>
            <li class="pure-menu-item"><a href="https://pkgs.alpinelinux.org" class="pure-menu-link">packages</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="content">
{{{yield}}}
    </div>
    <footer>© Copyright 2016 Alpine Linux Development Team all rights reserved | <a href="//alpinelinux.org/privacy-policy.html">Privacy Policy</a></footer>
  </div>
</body>
</html>
